@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Student @ViewData["student"]</p>

<address>
    <strong> More Information: </strong> <a href="https://tenmenezes.github.io">tenmenezes.github.io</a>
</address>
